body {display:inline-block;margin: 10px 0px 0px 15px;}
.overflow-hidden{overflow: hidden;}
.hidden {display:none;}

.expander-left:hover {background:url(../img/expander_button_h.gif) no-repeat;}
.expander-left {position:fixed;left:0;top:50%;width:9px;height:50px;background:none;margin:-25px 0 0;}
.expander-left span {display:block;width:5px;height:10px;margin:20px 2px 0;background:url(../img/expander_arrow_left.gif) no-repeat;}
.expander-left.close span {background:url(../img/expander_arrow_right.gif) no-repeat;}

.tree {font:11px Verdana, Geneva, Arial, Helvetica, sans-serif;color: #666;white-space: nowrap;}
.tree img {border: 0;float:left;}
.tree a {color: #333;text-decoration: none;}
.tree a.node, .tree a.nodeSel {white-space: nowrap;float:left;padding: 1px 2px 1px 2px;}
.tree a.node:hover, .tree a.nodeSel:hover {color: #333;text-decoration: underline;}
.tree a.nodeSel {background:#c0d2ec;}
.tree .clip {overflow: hidden;}

.dNode {overflow:hidden;padding: 1px 0px;list-style:none;}
.dNode .holder {width:max-content;overflow:hidden;}
.dNode a.open-close {float:left;width:18px;height:18px;margin:-1px -2px 0 0;}
.dNode:not(.collapsed) a.open-close {background:url(../img/nolines_minus.gif) no-repeat;}
.dNode.collapsed a.open-close {background:url(../img/nolines_plus.gif) no-repeat 0 50%;}
.dNode:not(.collapsed) ul {display: block;}
.dNode.collapsed ul {display: none;}
.dNode li {width:max-content;overflow:hidden;display:block;}
.dNode ul {padding:0;margin:0 0 0 14px;list-style:none;}
.dNode a.empty {float:left;width:18px;height:18px;margin:-1px -2px 0 0;}

.tree-node-severity-label {display: inline-block;border-width: 1px;border-radius: 3px;font-weight: 100;padding: 1px;font-size: 10px;margin: 1px 1px 1px 5px;}
.tree-node-severity-label.error {background-color: rgb(237 20 61 / 10%);color: brown;}
.tree-node-severity-label.warning {background-color: rgb(255 215 0 / 15%);color: chocolate;}
